$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
@import "mixins"; 
@import "marketing";
@import "animate";
@import "checkout";

body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", Sans Serif;
  font-size: 14px;
}

#particles {
    background: #591296; /* Old browsers */
  //background: -moz-linear-gradient(-45deg, #591296 0%, #42075c 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#591296), color-stop(100%,#42075c)); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(-45deg, #591296 0%,#42075c 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(-45deg, #591296 0%,#42075c 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(-45deg, #591296 0%,#42075c 100%); /* IE10+ */
  //background: linear-gradient(135deg, #591296 0%,#42075c 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#591296', endColorstr='#42075c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  //width: 100%;
  //height: 100%;
  //overflow: hidden;
}

.container-fluid-small {
  width: 480px;
  margin: 0 auto;
  @media(max-width: 480px) {
    width: auto;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.4;
}

p {
  font-size: 18px;
  font-weight: 300;
}
 
.header {
  position: fixed;
  width: 100%
}

.container-fluid {
  @media (min-width: 1200px) {
    width: 80%;
    margin: 0 auto;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

// Bootstrap Overwrites
.btn-primary {
  background-color: #50E3C2;
  border: none;
  :hover {
    background-color: darken(#50E3C2, 10%);
  }
}

.nav {

  margin-bottom: 10px;

  > li {

    > a {
      padding: 5px 20px;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      }
    }
  }

#header {
  min-height: 48px;
  .last {
    margin-right: 90px;
  }
  z-index: 100;
  background: none;
  padding: 10px 20px 8px 20px;
  h3 {
    display: none;
    margin:0px;
    :hover {
      text-decoration: none;
    }
  }
  #navbar {
    ul {
      li {
        a {
          &:before, &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: #fff;
            visibility: hidden;
            @include transform(scaleX(0));
            @include transition(all 0.2s ease);
          }
          &:hover {
            &:before {
              visibility: visible;
              @include transform(scaleX(0.75));
            }
          }
          &.active {
            &:before {}
            &:after {
              top: 0;
              visibility: visible;
              @include transform(scaleX(0.75));
            }
          }
        }
        &.active {
          a {
            &:after {
              top: 0;
              visibility: visible;
              @include transform(scaleX(0.75));
            }
          }
        }
      }
    }
  }
}
.nav-pills {
  margin-bottom: 0px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background: none;
}

.nav > li > a:hover {
  background: none;
}

.nav > li > a.dark-pill:hover {
  background: #591296;
}

.dark-header {
  background-color: rgba(255,255,255,1) !important;
  border-bottom: 1px solid #f6f6f6;
  box-shadow: 0 .05rem 1rem rgba(0,0,0,.15);
  a {
    color: #591296 !important;
    :hover {
      text-decoration: none !important;
    }
  }
  a:before, a:after{background-color:#591296 !important}
  h3 {
    display: inline !important;
    color: #591296 !important;
  }
}

.form-control {
    border: none;
    box-shadow: none;
    font-weight: 300;
  }

.form-item {
  top: 0;
  left: 0;
  background: #fcfcfc;
  font-weight: 300;
  color: #333;
  z-index: 1;
  :hover {
    background-color: #ECF0F1;
  }
  :focus {
    outline: none;
  }
}

input:hover {
    background-color: #ECF0F1;
  }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.footer {
  background-color: #333;
}

// Legal
#legal {
  #header {
    background-color: #591296;
  }
  .container {
    padding-top: 60px;
  }
  p {
    font-size: 16px;
  }
}


//Nav Email Collector
#email-collector {
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a:hover:before {
  visibility: hidden !important;
}

.container {
  display: block;
  width: 25em;
  margin: 100px auto;
}

.search-container {
  position: absolute;
  right: 10px;
  overflow: hidden;
  float: right;
  width: 6em;
  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  &:hover {
    width: 25em;
    .button {}
    input {
      display: inline-block;
      width: 19em;
      padding: 10px;
      border: 1px solid #591296;
    }
  }
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  float: left;
  width: 0em;
  height: 2em;
  margin-top: 2px;
  margin-right: -4.5em;
  background: white;
  color: #6a5d4f;
  font-size: 1em;
  font-weight: 300;
  padding: 0px;
  border: 0;
  border-radius: 4px;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  &:focus {
    outline: none;
  }
}

.button {
  z-index: 100;
  float: right;
  background: #591296;
  text-align: center;
  font-size: 1em;
  color: #fff !important;
  i {
    margin-top: 0.3em;
  }
  &:active {
    border: 0 !important;
    text-shadow: 0 0 0;
  }
}

}
// End Nav Collector

/*==============================================
FOOTER
==============================================*/
.footer {
  background: #222;
  color: white;
  padding: 40px;}
  .footer .footer-text {
    text-align: center;
    font-size: 1em; }
    .footer .footer-text a {
      color: #efefef;}
      .footer .footer-text a:hover {
        text-decoration: none;
        color: #777; }
    .footer .footer-text span {
      padding: 0 10px; }
  .footer p {
    margin-bottom: 0; }

/* Media Queries */
@media only screen and (max-width: 600px){
  .light-pill {
    display: none !important;
  }
  #header {
    .last {
      margin-right: 0px;
    }
  }
  #home h1 {
    font-size: 80px !important;
  }
}
@media only screen and (max-width: 710px){
  #home {
    background: #591296; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #591296 0%, #42075c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#591296), color-stop(100%,#42075c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #591296 0%,#42075c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #591296 0%,#42075c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #591296 0%,#42075c 100%); /* IE10+ */
    background: linear-gradient(135deg, #591296 0%,#42075c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#591296', endColorstr='#42075c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  }
@media only screen and (max-width: 480px){
  #header {
    padding-right: 0px;
  }
  .search-container {
  display: none !important;
}
#home {
  h1 {
    font-size: 60px !important;
  }
  #email-field {
    font-size: 14px !important;
  }
}
}


