@import "mixins";
#home {
	#home-background {
	background: #591296; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #591296 0%, #42075c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#591296), color-stop(100%,#42075c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #591296 0%,#42075c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #591296 0%,#42075c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #591296 0%,#42075c 100%); /* IE10+ */
	background: linear-gradient(135deg, #591296 0%,#42075c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#591296', endColorstr='#42075c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background: url("../images/lowpoly.png");
	background-size: 100%;
	@media only screen and (max-width: 775px){
		background: url("../images/lowpoly 2.png") !important;
		background-size: 100% !important;
	}

	}
	
	padding-top: 11%;
	padding-bottom: 10%;
	color: #fff;

	> .container-fluid {
		position: relative;
		z-index: 20;
	}

	h1 {
		font-size: 105px;
		font-weight: 100;
		z-index: 10;
	}

	h3 {
		font-weight: 300;
		z-index: 10;
	}
}

.mouse-bg {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	//position: fixed;
	position: absolute;
	z-index: -1;
}

@include keyframes(rotate-helix) {
  0%   { @include transform(rotate(0deg) translate3d( 0, 0, 0)); }
  100% { @include transform(rotate(360deg) translate3d( 0, 0, 0)); }
} 

#logo-rotate {
	position:absolute;
	left:0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
	z-index: -1;
	//top: 50%;
	top: 30px;
	width: 80%;
	opacity: .18;
	img {
	//	@include animation('rotate-helix 100s infinite');
	}
}
.email-field {
	//background: #591296; /* Old browsers */
	background: #222;
	position: relative;
	width: 100%;
	padding: 20px ;
	.col-sm-6 {
		float: none;
	}
	input[type="email"] {
		width: 100%;
	}
	label {
		color: #fff;
		font-size: 1.2em;
	}
}

#science, #privacy, #examples, #faq, #product {
	position: relative;
	z-index: 10;
	padding-top:53px;
	padding-bottom: 53px;
}

#examples {
	background: #591296; /* Old browsers */
	//background: -moz-linear-gradient(#591296 0%, #42075c 100%); /* FF3.6+ */
	//background: -webkit-gradient(linear, top, bottom, color-stop(0%,#591296), color-stop(100%,#42075c)); /* Chrome,Safari4+ */
	//background: -webkit-linear-gradient(#591296 0%,#42075c 100%); /* Chrome10+,Safari5.1+ */
	//background: -o-linear-gradient(#591296 0%,#42075c 100%); /* Opera 11.10+ */
	//background: -ms-linear-gradient( #591296 0%,#42075c 100%); /* IE10+ */
	//background: linear-gradient(#591296 0%,#42075c 100%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#591296', endColorstr='#42075c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	//background-size: cover;
	background-repeat: repeat;
	padding-bottom: 0;
	@media (min-width: 1200px) {
    		padding-bottom: 30px;
  		}
  	h1 {
		font-size: 80px;
		font-weight: 100;
		z-index: 10;
	}
	.card {
		padding: 100px 0;
		margin-top: -90px;
		border: 1px solid #efefef;
		border-bottom: none;
		background: white;
		@media only screen and (max-width: 480px){
  			padding-top: 20px;
  		}	
		}
	.headshot {
		width: 200px;
		border-radius:999pc;
	}
	table {
		font-size: 18px;
		td {
			font-weight: 300;
		}
	}
}

#science {
  background: #fcfcfc;
  color: #333;
  padding: 100px 0;
  @media only screen and (max-width: 480px){
  padding-top: 20px;
  }
  .img-responsive {
  	height: 120px;
  	margin: 0 auto;
  	margin-top: 20px;
  }
}
#product {
	.img-responsive {
		height: 200px;
		margin: 0 auto;
	}
	p {
		text-align: left;
	}
}

#privacy {
	//background-color: #591296;
	background: #1B1B1B;
	color: #fff;
}

@mixin background-size($x) {
	-webkit-background-size: $x;
	-moz-background-size: $x;
	background-size: $x;
}

@mixin border-radius($x) {
	-webkit-border-radius: $x;
	-moz-border-radius: $x;
	border-radius: $x;
}

#faq {
	h1 { color: #FFF; }
	border: none;
	background: #591296; /* Old browsers */
	background: -moz-linear-gradient(top,  #591296 11%, #440a77 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,#591296), color-stop(100%,#440a77)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #591296 11%,#440a77 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #591296 11%,#440a77 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #591296 11%,#440a77 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #591296 11%,#440a77 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#591296', endColorstr='#440a77',GradientType=0 ); /* IE6-9 */
	.panel-heading {
		padding: 0px;
		//background: #591296;
		background: transparent;
		@include border-radius(0);
		:hover {
			//background-color: #591296;

			color: #fff;
		}
		.panel-title > a {
			display: block;
			padding: 15px;
			color: white;
			border-bottom: 5px solid white;
			font-size: 1.25em;
			&:hover {
				text-decoration: none;
			}
		}
		a:hover {
			text-decoration: none;
		}
		+ .panel-collapse {
			> .panel-body {
				border: none;
			}
		}
	}
	.panel-body {
		padding: 25px;
	}
	.panel {
		border: none;
		@include border-radius(0);
		background-color: transparent !important;
		color: white !important;
		box-shadow: none;
	}
	blockquote {
		font-weight: 300;
		border-left: 5px solid white;
		box-shadow: none;
		margin-bottom: 0;
	}
}
//#42075C, #250A30, #FCFCFC