<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Gene Guru | Genetic Nutrition</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="marketingSiteApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
      <div class="header clear-header" id="header">
        <div id="navbar">
          <ul class="nav nav-pills pull-right">
            <!--<li class="active"><a ng-href="#">Home</a></li>-->
            <li><a class="light-pill" data-scroll href="#science">Science</a></li>
            <li><a class="light-pill" data-scroll href="#examples">Examples</a></li>
            <li><a class="light-pill" data-scroll href="#faq">FAQ</a></li>
            <li class="last"><a class="light-pill" data-scroll href="#privacy">Privacy</a></li>
            <li>
              <div id="email-collector">
              <div class="search-container">
                <input type = "text" placeholder = "Email Address">
                <a class="button btn btn-primary">
                  Sign Up
                </a>
              </div>
            </div>
            </li>
          </a>
        </div>
          </ul>
          <a ng-href="#"><h3>Gene Guru</h3></a>
        </div>
      </div>
      <!--<div id="collector" class="collector-closed">
            <div class="email-field text-center">
            <div class="col-sm-6 col-sm-offset-3">
              <form name="userForm" ng-submit="submitForm()" novalidate>
                <div class="input-group wow fadeIn" data-wow-duration="1s">
                  <input placeholder="Enter Your Email Address" type="email" name="email" class="form-control" ng-model="user.email">
                  <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">ex: kyle@gmail.com</p>
                  <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit" class="btn btn-primary btn-block" ng-disabled="userForm.$invalid">Go!</button>
                  </span>
                </div>
                </form>
            </div>-->     
    </div>
      </div>
    <section id="home">
      <div id="home-background" class="mouse-bg"></div>
      <div class="container text-center">
        <h1>Gene Guru</h1>
        <h3>Personalized nutrition based on your genetics</h3><br/>
        <div>
            <!-- EMAIL -->
            <div class="col-sm-8 col-sm-offset-2">
              <form name="userForm" ng-submit="submitForm()" novalidate>
                <div class="input-group input-group-lg">
                  <input id="email-field" placeholder="Enter Your Email Address" type="email" name="email" class="form-control" ng-model="user.email">
                  <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit" class="btn btn-primary btn-block" ng-disabled="userForm.$invalid">Go!</button>
                  </span>
                </div><!-- /input-group -->
                </form>
            </div><!-- /.col-lg-6 -->     
        </div>
      </div>
    </section>

      <!-- Renders main.html -->
      <!--<div class="container-fluid">
        <div ng-view="main.html"></div>
        <div ng-view="science"></div>
      </div>-->
<!--<section id="product">
  <div class="container text-center">
    <h1>Gene Guru Offers</h1>
  </div>
  <div class="container-fluid text-center">
    <div class="col-sm-5 col-sm-offset-1 wow slideInLeft" data-wow-duration="1s">
      <h3>DNA Analysis</h3>
      <img class="img-responsive" src="images/logo-low-poly.png" alt="">
      <p>If you already have your data analyzed, we can process your DNA right away and deliver a personalized list of recommendations for your particular genetics.</p>
    </div>
    <div class="col-sm-5 wow slideInRight" data-wow-duration="1s">
      <h3>DNA Test + Analysis</h3>
      <img class="img-responsive" src="images/logo+test-low-poly.png" alt="">
      <p>We will gladly send you a DNA test kit should you need your genetic data analyzed. You will receive the data along with your recommendations.</p>
    </div>
  </div>
  <br>
</section>-->
<section id="science">
  <div id="logo-rotate">
    <img src="images/logo.svg" alt="">
  </div>
  <div class="container text-center">
    <h3>Your body develops and functions according to the interactions between proteins. By understanding the intricacies of your DNA, you can optimize for certain lifestyle objectives.</h3>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 wow fadeIn" data-wow-duration="1s">
        <h3>Fat Loss</h3>
        <p>The precise way your body burns, or metabolizes, fats are unique because of your individual genetics. By investigating the functional effectiveness of your genes involved in breakdown, storage and processing of food, we can provide a detailed nutritional and exercise framework for you to shed weight faster than ever before.</p>
      </div>
      <div class="col-sm-4 wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
        <h3>Toning</h3>
          <p>Your genes that determine neuromuscular efficiency determine how muscle fibers should be maximally contracted at a given time without risking injury. We analyze the genetic dynamics of these muscular strength-building processes to design a regimen that can make you stronger than ever before.</p>
      </div>
      <div class="col-sm-4 wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
        <h3>Muscle Gain</h3>
          <p>Your muscles grow when the fibers are damaged and subsequently repaired, growing larger in the process. Numerous genes and proteins mediate and regulate this repair while others digest and process the nutrients your muscles need to grow. By analyzing your specific genetics, we can determine ideal exercise and nutritional strategies for you to rapidly increase muscle mass.</p>
      </div>
    </div>
  </div>
  <br>
</section>
<section id="examples">
  <div class="container-fluid text-center card wow slideInUp" data-wow-duration="1s">
    <h1>Every output is different.</h1>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <h3>Meet Ashwin</h3>
        <img src="images/ashwin.jpg" alt="Ashwin" class="headshot">
        <h4>Our CEO</h4>
      </div>
      <div class="col-sm-4">
        <h3>Meet Nus</h3>
        <img src="images/nus.jpg" alt="Nus" class="headshot">
        <h4>Our COO</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>Their Optimal Foods For Fat Loss</h1>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <table class="table table-bordered table-responsive table-hover text-left">
          <tr>
            <th>Top Foods</th>
            <th>Ashwin</th>
            <th>Nus</th>
          </tr>
          <tr>
            <td>Starch</td>
            <td>Wild Rice</td>
            <td>Long-Grain White Rice</td>
          </tr>
          <tr>
            <td>Protein</td>
            <td>Grass-Fed Lamb</td>
            <td>Whey</td>
          </tr>
          <tr>
            <td>Fruit</td>
            <td>Avocados</td>
            <td>Limes</td>
          </tr>
          <tr>
            <td>Veggies</td>
            <td>Kale</td>
            <td>Cauliflower</td>
          </tr>
          <tr>
            <td>Nuts</td>
            <td>Almonds</td>
            <td>Olives</td>
          </tr>
          <tr>
            <td>Fats</td>
            <td>Olive Oil</td>
            <td>Coconut Oil</td>
          </tr>
          <tr>
            <td>Dairy</td>
            <td>Grass-Fed Butter</td>
            <td>Grass-Fed Butter</td>
          </tr>
        </table>
      </div>
    </div>
</section>
<section id="faq">
        <div class="container">
          <h1>Frequently Asked Questions</h1>
          <div class="panel-group" id="accordion">
            
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#3">
                          1. What if my plan recommends a step which I am unable to complete?
                        </a>
                      </h4>
                    </div>
                    <div id="3" class="panel-collapse collapse  in ">
                      <div class="panel-body">
                        <blockquote>
                           Our plans are designed to help you reach your goal while living the life you want to live. To that end, you can choose not to undertake any suggested action, and your plan will automatically adjust to accommodate your choice.
                       </blockquote>
                     </div>
                  </div>
               </div>
            
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#4">
                          2. How can I keep track of my progress?
                        </a>
                      </h4>
                    </div>
                    <div id="4" class="panel-collapse collapse ">
                      <div class="panel-body">
                        <blockquote>
                           Our user interface, in addition to offering a robust plan to take you to your goal, comes with tools for measuring your progress. A line graph shows you how much you are improving on a day-to-day basis, offers you suggestions on how to improve, and can use your past progress to predict your rate of progress in the future.
                       </blockquote>
                     </div>
                  </div>
               </div>
            
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#5">
                          3. How long until I start seeing results?
                        </a>
                      </h4>
                    </div>
                    <div id="5" class="panel-collapse collapse ">
                      <div class="panel-body">
                        <blockquote>
                           Because our plans are genetically based and action-oriented, most people are able to see progress within the first 1 to 2 weeks of following their plan.
                       </blockquote>
                     </div>
                  </div>
               </div>
            
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#6">
                          4. What do I do if my progress plateaus?
                        </a>
                      </h4>
                    </div>
                    <div id="6" class="panel-collapse collapse ">
                      <div class="panel-body">
                        <blockquote>
                           Part of Gene Guru’s progress tool is a built-in program for breaking plateaus. Your plan will automatically adjust to help you continue making progress toward your goal.
                       </blockquote>
                     </div>
                  </div>
               </div>
            
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#7">
                          5. What if I want to change my goal?
                        </a>
                      </h4>
                    </div>
                    <div id="7" class="panel-collapse collapse ">
                      <div class="panel-body">
                        <blockquote>
                           Simply clicking the “change goal” button allows you to select any goal you wish to pursue, and your plan will automatically adjust to help you reach that goal as quickly as possible.
                       </blockquote>
                     </div>
                  </div>
               </div>
            
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#8">
                          6. Do I run any risks by joining Gene Guru?
                        </a>
                      </h4>
                    </div>
                    <div id="8" class="panel-collapse collapse ">
                      <div class="panel-body">
                        <blockquote>
                           Gene Guru is commitmented to your privacy: we go to great lengths to protect your genetic data, and will never sell it to anyone. Furthermore, if you are uncomfortable with anything that Gene Guru recommends, you have the option to remove the objectionable recommendation from your plan; your plan will adjust accordingly to get you the maximum results while keeping you feeling comfortable.
                       </blockquote>
                     </div>
                  </div>
               </div>
            
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#9">
                          7. What if I already have my genetic information?
                        </a>
                      </h4>
                    </div>
                    <div id="9" class="panel-collapse collapse ">
                      <div class="panel-body">
                        <blockquote>
                           If you have already done genetic testing, you can get started with your Gene Guru plan as soon as it is released. Simply sign up and upload the report when we launch.
                       </blockquote>
                     </div>
                  </div>
               </div>
            
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#1">
                          8. How long until I get my Report?
                        </a>
                      </h4>
                    </div>
                    <div id="1" class="panel-collapse collapse ">
                      <div class="panel-body">
                        <blockquote>
                           We will begin distributing genetic testing kits in October. After you send your kit back to us for processing, you will receive an email with a link to your comprehensive dashboard via email within 3 to 4 weeks.
                       </blockquote>
                     </div>
                  </div>
               </div>
            
          </div>
  </div>
</section>
<section id="privacy">
  <div class="container text-center">
    <h1><span class="glyphicon glyphicon-lock"></span> Privacy</h1>
      <div class="text-left">
      <p><strong>Your genetic profile is your most personal information, and we will always 
  keep that information safe and secure in the following ways: </strong></p>

        <ul>
          <li>HIPPA compliance - Under GINA, your HMO and other physical care rates will never increase based on the results of a genetic test.</li>
          <li>Military-grade SHA1 and MD5 encryption of genomic data and data-transfer protocols.</li>
          <!-- <li>Secure Sockets Layer (SSL) and AES-256 bit encryption.</li>
          <li>Gene Guru applications and infrastructure are regularly tested for
        security vulnerabilities and hardened to enhance security and protect
        against attacks.</li>
          <li>Gene Guru is designed with multiple layers of protection, including
        secure data transfer, encryption, network configuration, and application- and user-level controls that are distributed across a scalable, secure infrastructure. State-of-the-art industry standards of encryptions are constantly implemented to keep your data safe.</li>
          <li>Access via third-party apps - 
        Some third party apps with Gene Guru integration will ask for permission to access your Gene Guru. To grant access, you will need to log in to your Gene Guru account and explicitly press the Authorize button when prompted. You can visit the My Apps section of your account settings to review the apps you've granted permission to and revoke access at your discretion.</li> -->
          <li>All sequencing executed in CLIA labs - CLIA is a widely accepted national standard of certification of the integrity and consistency of laboratory procedures.</li>
          <li>We promise to never share your data. - We will make good on your trust in us by always keeping your data protected within our systems. We use a number of physical, technical, and heuristic security measures to protect user information from unauthorized access. No one else will ever be granted access to it.</li>
        </ul>
      </div>
    </div>
</section>
<div class="email-field text-center">
            <div class="col-sm-6 col-sm-offset-3">
              <form name="userForm" ng-submit="submitForm()" novalidate>
                <label for="email">Access Your Optimized Diet</label>
                <div class="input-group wow fadeIn" data-wow-duration="1s">
                  <input placeholder="Enter Your Email Address" type="email" name="email" class="form-control" ng-model="user.email">
                  <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary btn-block" ng-disabled="userForm.$invalid">Go!</button>
                  </span>
                </div>
                </form>
            </div>
    </div>
<footer class="footer">
  <p class="footer-text">
    &#169; 2014 Gene Guru, Inc <span> | </span>
    <a href="/legal.html">legal</a> <span> | </span>
    <a>forum</a> <span> | </span>
    <a href="mailto:hello@geneguru.me">hello@geneguru.me</a>
  </p>
</footer>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/smooth-scroll.min.js"></script>
        <script src="scripts/wow.min.js"></script>
        <script src="scripts/mouse.parallax.js"></script>
        <!-- endbuild -->
<script>
$(function() {
    var header = $(".clear-header");
    $(window).scroll(function() {    
        var scroll = $(window).scrollTop();
    
        if (scroll >= 100) {
            header.removeClass('clear-header', 300).addClass("dark-header", 300);
        } else {
            header.removeClass("dark-header", 300).addClass('clear-header', 300);
        }
    });
});
</script>
<script>
$(function() {
    var collector = $("#collector");
    $(window).scroll(function() {    
        var scroll = $(window).scrollTop();
    
        if (scroll >= 300) {
            collector.removeClass('collector-closed', 300).addClass("collector-opened", 300);
        } else {
            collector.removeClass("collector-opened", 300).addClass('collector-closed', 300);
        }
    });
});
</script>
<script>
var deg = 0;
window.setInterval(function() {
    deg += .1;
    $("#logo-rotate").css('-webkit-transform','rotate(' + deg + 'deg)');
}, 50);
</script>
<script>
    smoothScroll.init();
</script>
<script>
 new WOW().init();
</script>
<script>
$(document).ready(function() {
$('#home-background').mouseParallax({ moveFactor: 3 });
 
$('body').height(3000);
});
</script>
</body>
</html>