<section id="marketing">
  <div class="container-fluid text-center">
    <h1>The Science of How Your Body Builds Itself.</h1>
    
    <!-- PLACEHOLDER-->
    <img style="height: 200px;" src="images/icon-dna.gif">

    <h3>The food you eat affects how protein-generating DNA does its job.</h3>
  </div>
</section>
<section id="science">
  <div class="container-fluid">
    <div class="col-sm-4">
      <h4>STEP 1: YOU ORDER YOUR DNA KIT (1 WEEK)</h4>
        <p>After telling us your body goal (Lose Weight, Become Leaner and Stronger, Gain Muscle) Gene Guru will send you a DNA kit, with an enclosed cheek swab used to collect your DNA. After swabbing your cheek for 10 seconds, you send the package right back to us for analysis.</p>
    </div>
    <div class="col-sm-4">
      <h4>STEP 1: YOU ORDER YOUR DNA KIT (1 WEEK)</h4>
        <p>After telling us your body goal (Lose Weight, Become Leaner and Stronger, Gain Muscle) Gene Guru will send you a DNA kit, with an enclosed cheek swab used to collect your DNA. After swabbing your cheek for 10 seconds, you send the package right back to us for analysis.</p>
    </div>
    <div class="col-sm-4">
      <h4>STEP 1: YOU ORDER YOUR DNA KIT (1 WEEK)</h4>
        <p>After telling us your body goal (Lose Weight, Become Leaner and Stronger, Gain Muscle) Gene Guru will send you a DNA kit, with an enclosed cheek swab used to collect your DNA. After swabbing your cheek for 10 seconds, you send the package right back to us for analysis.</p>
    </div>
  </div>
</section>
<section id="privacy">
  <div class="container-fluid text-center">
    <h1>The Science of How Your Body Builds Itself.</h1>
    
    <!-- PLACEHOLDER-->
    <img style="height: 200px;" src="images/icon-dna.gif">

    <h3>The food you eat affects how protein-generating DNA does its job.</h3>
  </div>
  <div class="container-fluid">
    <div class="col-sm-4">
      <h4>STEP 1: YOU ORDER YOUR DNA KIT (1 WEEK)</h4>
        <p>After telling us your body goal (Lose Weight, Become Leaner and Stronger, Gain Muscle) Gene Guru will send you a DNA kit, with an enclosed cheek swab used to collect your DNA. After swabbing your cheek for 10 seconds, you send the package right back to us for analysis.</p>
    </div>
    <div class="col-sm-4">
      <h4>STEP 1: YOU ORDER YOUR DNA KIT (1 WEEK)</h4>
        <p>After telling us your body goal (Lose Weight, Become Leaner and Stronger, Gain Muscle) Gene Guru will send you a DNA kit, with an enclosed cheek swab used to collect your DNA. After swabbing your cheek for 10 seconds, you send the package right back to us for analysis.</p>
    </div>
    <div class="col-sm-4">
      <h4>STEP 1: YOU ORDER YOUR DNA KIT (1 WEEK)</h4>
        <p>After telling us your body goal (Lose Weight, Become Leaner and Stronger, Gain Muscle) Gene Guru will send you a DNA kit, with an enclosed cheek swab used to collect your DNA. After swabbing your cheek for 10 seconds, you send the package right back to us for analysis.</p>
    </div>
  </div>
</section>
<section id="examples">
  <div class="container">

  </div>
</section>